<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http auto-config="true" create-session="stateless">

        <intercept-url pattern="/api/**" access="ROLE_ADMINISTRATOR" />
        <intercept-url pattern="/api/login" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/api/logout" access="ROLE_ORDER_MANAGER, ROLE_SUPERVISOR, ROLE_ADMINISTRATOR, ROLE_SECOND_MANAGER, ROLE_COURIER"/>
        <intercept-url pattern="/api/contacts/**" access="ROLE_SUPERVISOR, ROLE_ORDER_MANAGER"/>
        <intercept-url pattern="/api/users/{id}/orders" access="ROLE_ORDER_MANAGER, ROLE_SECOND_MANAGER, ROLE_COURIER, ROLE_SUPERVISOR" />
        <intercept-url pattern="/api/orders" access="ROLE_ORDER_MANAGER, ROLE_SUPERVISOR"/>
        <intercept-url pattern="/api/orders/{id}" access="ROLE_SUPERVISOR"/>
        <intercept-url pattern="/api/search/contact" access="ROLE_SUPERVISOR"/>
        <intercept-url pattern="/api/search/order" access="ROLE_SUPERVISOR"/>
        <intercept-url pattern="/api/send-mail" access="ROLE_SUPERVISOR"/>

        <http-basic />

    </http>

    <beans:bean id="userDetailsService"
                class="com.itechart.deliveryservice.service.security.UserAuthenticationProvider" />

    <beans:bean
                class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />

    <authentication-manager>
        <authentication-provider user-service-ref="userDetailsService" />
    </authentication-manager>

</beans:beans>