<div class="page-header">
    <h1>Поиск контакта <small></small></h1>
</div>
<div class="container-fluid">
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="label">Имя: </span><br/>
                <input type="text" class="form-control">
            </li>
            <li class="list-group-item">
                <span class="label">Фамилия: </span><br/>
                <input type="text" class="form-control">
            </li>
            <li class="list-group-item">
                <span class="label">Отчество: </span><br/>
                <input type="text" class="form-control">
            </li>
            <li class="list-group-item">
                <span class="label">Дата рождения(min): </span><br/>
                <input type="text" class="form-control">
            </li>
            <li class="list-group-item">
                <span class="label">Дата рождения(max): </span><br/>
                <input type="text" class="form-control">
            </li>
            <li class="list-group-item">
                <span class="label">Email: </span><br/>
                <input type="text" class="form-control">
            </li>
            <li class="list-group-item">
                <span class="label">Адрес: </span><br/>
                <input type="text" class="form-control">
            </li>
            <li class="list-group-item">
                <span class="label">Город: </span><br/>
                <input type="text" class="form-control">
            </li>
            <li class="list-group-item">
                <span class="label">Улица: </span><br/>
                <input type="text" class="form-control">
            </li>
            <li class="list-group-item">
                <span class="label">Дом: </span><br/>
                <input type="text" class="form-control">
            </li>
            <li class="list-group-item">
                <span class="label">Квартира: </span><br/>
                <input type="text" class="form-control">
            </li>
            <li class="list-group-item text-center">
                <div class="btn-group">
                    <a href="#/api/contacts" class="btn btn-default">Поиск</a>
                </div>
            </li>
        </ul>
    </div>
</div>