
<div class="container-fluid">
    <div class="page-header">
        <h1>Контакт <small></small></h1>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li id = "name" class="list-group-item">
                <span class="label">Имя: </span><br/>
                <input type="text" class="form-control" ng-model="contact.name" readonly>
            </li>
            <li class="list-group-item">
                <span class="label">Фамилия: </span><br/>
                <input type="text" class="form-control" ng-model="contact.surname" readonly>
            </li>
            <li class="list-group-item">
                <span class="label">Отчество: </span><br/>
                <input type="text" class="form-control" ng-model="contact.middleName" readonly>
            </li>
            <li class="list-group-item">
                <span class="label">Дата рождения: </span><br/>
                <input type="text" class="form-control" value="{{ contact.dateOfBirth  | date:'MM/dd/yyyy'}}" readonly>
            </li>
            <li class="list-group-item">
                <span class="label">Email: </span><br/>
                <input type="text" class="form-control" ng-model="contact.email" readonly>
            </li>
            <li class="list-group-item">
                <span class="label">Адрес: </span><br/>
            </li>
            <li class="list-group-item">
                <span class="label">Город: </span><br/>
                <input type="text" class="form-control" ng-model="contact.city" readonly>
            </li>
            <li class="list-group-item">
                <span class="label">Улица: </span><br/>
                <input type="text" class="form-control" ng-model="contact.street" readonly>
            </li>
            <li class="list-group-item">
                <span class="label">Дом: </span><br/>
                <input type="text" class="form-control" ng-model="contact.home" readonly>
            </li>
            <li class="list-group-item">
                <span class="label">Квартира: </span><br/>
                <input type="text" class="form-control" ng-model="contact.flat" readonly>
            </li>


        </ul>
    </div>
    <hr/>
    <div class="panel panel-default">
        <div class="panel-heading">Телефоны</div>
        <table class="table">
            <thead>
            <tr>
                <td><span class="label label-primary">Телефон</span></td>
                <td><span class="label label-primary">Тип</span></td>
                <td><span class="label label-primary">Комментарий</span></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="phone in phones">
                <td><span class="label label-primary"> +{{phone.countryCode}}{{phone.operatorCode}}{{phone.number}}</span></td>
                <td><span class="label label-default">{{toLocalType(phone.type)}}</span></td>
                <td><span class="label label-default">{{phone.comment}}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr/>
    <div class="panel panel-default">
        <div class="panel-heading">Заказы</div>
        <table class="table">
            <thead>
                <tr>
                    <td><span class="label label-primary">Дата</span></td>
                    <td><span class="label label-primary">Описание</span></td>
                    <td><span class="label label-primary">Сумма</span></td>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="order in orders">
                <td><span class="label label-default">{{ order.date | date:'MM/dd/yyyy HH:mm'}}</span></td>
                <td><span class="label label-default">{{ order.description }} </span></td>
                <td><span class="label label-default">{{ order.cost }}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>