<div class="container-fluid">
    <div class="page-header">
        <h1>Контакты<small></small></h1>
    </div>
    <div class="panel-body">
        <div class=" text-right">
            <div class="btn-group">
                <a ng-click="searchDisable()" class="btn btn-default">Сбросить</a>
                <a ng-click="searchContact()" class="btn btn-default">Поиск</a>
                <a ng-click="sendEmail(checked.ids)" class="btn btn-default">Отправить письмо</a>
            </div>
            <div class="btn-group">
                <a ng-click="createContact()" class="btn btn-default">Новый</a>
            </div>
        </div>
        <br/>
        <div class="panel panel-default">
            <div class="panel-heading">Контакты</div>
            <table class="table">
                <thead>
                 <tr>
                    <td><span class="label label-primary"></span></td>
                    <td><span class="label label-primary">Полное имя</span></td>
                    <td><span class="label label-primary">Дата рождения </span></td>
                    <td><span class="label label-primary">Адрес </span></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="contact in page.currentPage">
                    <td><input type="checkbox" checklist-model="checked.ids" checklist-value="contact.id"></td>
                    <td><a ng-click="editContact(contact.id)"><span class="label label-default">{{ contact.surname }} {{ contact.name }} {{ contact.middleName }}</span></a></td>
                    <td><span class="label label-default">{{ contact.dateOfBirth | date:'MM/dd/yyyy'}}</span></td>
                    <td><span class="label label-default">{{ contact.city }} {{ contact.street }} {{ contact.home }} {{ contact.flat }}</span></td>

                </tr>
                </tbody>
            </table>
            <div class="text-center">
                <pagination total-items="totalItems" page="curPage" max-size="10" on-select-page="toPage(page)"></pagination>
            </div>
        </div>

    </div>
</div>