
<div class="container-fluid">
    <div class="page-header">
        <h1>Почта<small></small></h1>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="label">Кому: </span><br/>
                <input type="text" class="form-control" ng-model="mails" readonly>
            </li>
            <li class="list-group-item">
                <span class="label">Тема: </span><br/>
                <input type="text" class="form-control" ng-model="letter.subject">
            </li>
            <li class="list-group-item">
                <span class="label">Шаблон:</span><br/>
                <select class="form-control" name="cust" ui-select2 ng-model="letter.template" ng-click = "getTemplate(letter.template)">
                    <option ng-repeat="template in templates" value="{{ template.id }}">
                        {{ template.name }}
                    </option>
                </select>
            </li>
            <li class="list-group-item">
                <span class="label">Текст: </span><br/>
                <div ng-switch on="letter.template">
                    <div ng-switch-when=0>
                        <textarea class="form-control" ng-model="letter.text">{{letter.text}}</textarea>
                    </div>
                    <div ng-switch-default>
                        <textarea class="form-control" ng-model="letter.text" readonly>{{letter.text}}</textarea>
                    </div>
                </div>
            </li>
            <li class="list-group-item text-center">
                <div class="btn-group">
                    <a ng-click = "toContacts()" class="btn btn-default">Отмена</a>
                    <a ng-click = "sendMail(letter)" class="btn btn-default">Отправить</a>
                </div>
            </li>
        </ul>
    </div>
</div>