
<div class="container-fluid">
    <div class="page-header">
        <h1>Почта<small></small></h1>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="label">Кому: </span><br/>
                <input type="text" class="form-control">
            </li>
            <li class="list-group-item">
                <span class="label">Тема: </span><br/>
                <input type="text" class="form-control">
            </li>
            <li class="list-group-item">
                <span class="label">Шаблон: </span><br/>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Выбрать
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#">Шаблон 1</a></li>
                            <li><a href="#">Шаблон 2</a></li>
                            <li><a href="#">Шаблон 3</a></li>
                        </ul>
                    </div><!-- /btn-group -->
                </div><!-- /input-group -->
            </li>
            <li class="list-group-item">
                <span class="label">Текст: </span><br/>
                <textarea class="form-control"></textarea>
            </li>
            <li class="list-group-item text-center">
                <div class="btn-group">
                    <a href="#/api/contacts" class="btn btn-default">Отмена</a>
                    <a href="#/api/contacts" class="btn btn-default">Отправить</a>
                </div>
            </li>
        </ul>
    </div>
</div>