
<div class="page-header">
    <h1>Авторизация<small></small></h1>
</div>
<div class="container-fluid">
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="label">Login: </span><br/>
                <input type="text" class="form-control">
            </li>
            <li class="list-group-item">
                <span class="label">Password: </span><br/>
                <input type="password" class="form-control">
            </li>
            <li class="list-group-item text-center">
                <div class="btn-group">
                    <a href="#/api/orders" class="btn btn-default">Войти</a>
                </div>
            </li>
        </ul>
    </div>
</div>