<div class="page-header">
    <h1>Поиск заказа<small></small></h1>
</div>
<div class="container-fluid">
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="label">Фамилия заказчика: </span><br/>
                <input type="text" class="form-control">
            </li>
            <li class="list-group-item">
                <span class="label">Фамилия получателя: </span><br/>
                <input type="text" class="form-control">
            </li>
            <li class="list-group-item">
                <span class="label">Дата заказа(min): </span><br/>
                <input type="text" class="form-control">
            </li>
            <li class="list-group-item">
                <span class="label">Дата заказа(max): </span><br/>
                <input type="text" class="form-control">
            </li>
            <li class="list-group-item text-center">
                <div class="btn-group">
                    <a ng-click="searchOrder()" class="btn btn-default">Поиск</a>
                </div>
            </li>
        </ul>
    </div>
</div>