<div class="page-header">
    <h1>Заказ <small></small></h1>
</div>
<div class="container-fluid">
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="label">Состояние: </span><br/>
                <input type="text" class="form-control">
            </li>
            <li class="list-group-item">
                <span class="label">Заказчик:</span><br/>
                <div class="input-group">
                    <input type="text" class="form-control" id = "customer" ng-model="order.customer">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Выбрать</button>
                        </span>
                </div>
            </li>
            <li class="list-group-item">
                <span class="label">Описание: </span><br/>
                <textarea class="form-control" id = "discription" ng-model="order.discription"></textarea>
            </li>
            <li class="list-group-item">
                <span class="label">Оценочная сумма: </span><br/>
                <input type="text" class="form-control" id = "cost" ng-model="order.cost">
            </li>
            <li class="list-group-item">
                <span class="label">Менеджер по приему: </span><br/>
                <div class="input-group">
                    <input type="text" class="form-control" id = "receptionManager" ng-model="order.receptionManager">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Выбрать</button>
                        </span>
                </div>
            </li>
            <li class="list-group-item">
                <span class="label">Менеджер по обработке: </span><br/>
                <div class="input-group">
                    <input type="text" class="form-control" id = "processingManager" ng-model="order.processingManager">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Выбрать</button>
                        </span>
                </div>
            </li>
            <li class="list-group-item">
                <span class="label">Менеджер по доставке: </span><br/>
                <div class="input-group">
                    <input type="text" class="form-control" id = "deliveryManager" ng-model="order.deliveryManager">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Выбрать</button>
                        </span>
                </div>
            </li>
            <li class="list-group-item">
                <span class="label">Получатель: </span><br/>
                <div class="input-group">
                    <input type="text" class="form-control" id = "recipient" ng-model="order.recipient">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Выбрать</button>
                        </span>
                </div>
            </li>
            <li class="list-group-item">
                <span class="label">Получатель: </span><br/>
                <select class="form-control" id = "state" ng-model="order.state">
                    <option  name="NEW">Новый</option>
                    <option  name="ACCEPTED">Принят</option>
                    <option  name="IN_PROCESSING">В обработке</option>
                    <option  name="READY_FOR_DELIVERY">Готов к доставке</option>
                    <option  name="DELIVERY">Доставка</option>
                    <option  name="CAN_NOT_BE_EXECUTED">Не может быть выполнен</option>
                    <option  name="CANCELED">Отменен</option>
                    <option  name="CLOSED">Закрыт</option>
                </select>
            </li>
            <li class="list-group-item text-center">
                <div class="btn-group">
                    <a ng-click="saveOrder()" class="btn btn-default">Сохранить</a>
                </div>
            </li>
        </ul>
    </div>
    <hr/>
    <div class="panel panel-default">
        <div class="panel-heading">История</div>
            <table class="table">
                <thead>
                <tr>
                    <td><span class="label label-primary">Дата и время</span></td>
                    <td><span class="label label-primary">Новый статус</span></td>
                    <td><span class="label label-primary">Кто изменил статус</span></td>
                    <td><span class="label label-primary">Комментарий</span></td>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="label label-default">Дата и время</span></td>
                        <td><span class="label label-default">Новый статус</span></td>
                        <td><span class="label label-default">Кто изменил статус</span></td>
                        <td><span class="label label-default">Комментарий</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>