<div class="container-fluid">
    <div class="page-header">
        <h1>Заказы<small></small></h1>
    </div>
    <div class="panel-body">
        <div class=" text-right">
            <div class="btn-group">
                <a ng-click="searchOrder()" class="btn btn-default">Поиск</a>
            </div>
            <div class="btn-group">
                <a ng-click="createOrder()" class="btn btn-default">Новый</a>
                <a ng-click="deleteOrder($scope.checkedOrders)" class="btn btn-default">Удалить</a>
            </div>
        </div>
        <br/>
        <div class="panel panel-default">
            <div class="panel-heading">Заказы</div>
            <table class="table">
                <thead>
                <tr>
                    <td><span class="label label-primary"></span></td>
                    <td><span class="label label-primary">Состояние</span></td>
                    <td><span class="label label-primary">Зказчик</span></td>
                    <td><span class="label label-primary">Получатель</span></td>
                    <td><span class="label label-primary">Дата</span></td>
                    <td><span class="label label-primary">Стоимость</span></td>
                    <td><span class="label label-primary">Описание</span></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in orders">
                    <td><input type="checkbox" ></td>
                    <td><a ng-click="editOrder(order.id)"><span class="label label-primary"> {{ order.state }}</span></a></td>
                    <td><span class="label label-default">{{ order.customerName }} {{ order.customerSurname }}</span></td>
                    <td><span class="label label-default">{{ order.recipientName }} {{ order.recipientSurname }}</span></td>
                    <td><span class="label label-default">{{ order.date  | date:'MM/dd/yyyy HH:mm'}}</span></td>
                    <td><span class="label label-default">{{ order.cost }}</span></td>
                    <td><span class="label label-default">{{ order.description }}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>