
<div class="container-fluid">
    <div class="page-header">
        <h1>Телефон <small></small></h1>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="label">Код страны: </span><br/>
                <input type="text" class="form-control">
            </li>
            <li class="list-group-item">
                <span class="label">Код оператора: </span><br/>
                <input type="text" class="form-control">
            </li>
            <li class="list-group-item">
                <span class="label">Телефонный номер: </span><br/>
                <input type="text" class="form-control">
            </li>
            <li class="list-group-item">
                <span class="label">Тип телефона: </span><br/>
                <input type="text" class="form-control">
            </li>
            <li class="list-group-item">
                <span class="label">Комментрий: </span><br/>
                <input type="text" class="form-control">
            </li>
            <li class="list-group-item text-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-default">Отменить</button>
                    <button type="button" class="btn btn-default">Сохранить</button>
                </div>
            </li>
        </ul>
    </div>
</div>