<div class="page-header">
    <h1>Пользователи <small></small></h1>
</div>
<div class="container-fluid">
    <div class="panel-body">
        <div class=" text-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default">Новый</button>
                <button type="button" class="btn btn-default">Редактировать</button>
                <button type="button" class="btn btn-default">Удалить</button>
            </div>
        </div>
        <br/>
        <div class="panel panel-default">
            <div class="panel-heading">Пользователи</div>
            <table class="table">
                <thead>
                <tr>
                    <td><span class="label label-primary"></span></td>
                    <td><span class="label label-primary">Полное имя</span></td>
                    <td><span class="label label-primary">Login</span></td>
                    <td><span class="label label-primary">Роль</span></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td><a href="#"><span class="label label-default">Имя имя пам-парам</span></a></td>
                    <td><span class="label label-default">Новый статус</span></td>
                    <td><span class="label label-default">Кто изменил статус</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>