
<div class="container-fluid">
    <div class="page-header">
        <h1>Пользователи <small></small></h1>
    </div>
    <div class="panel-body">
        <div class=" text-right">
            <div class="btn-group">
                <a ng-if="newVisible == true" ng-click="createUser()" class="btn btn-default">Новый</a>
                <button type="button" ng-if="newVisible == true" class="btn btn-default" ng-click="deleteUsers(usersToDelete)">Удалить</button>
            </div>
        </div>
        <br/>
        <div class="panel panel-default">
            <div class="panel-heading">Пользователи</div>
            <table class="table">
                <thead>
                <tr>
                    <td><span class="label label-primary"></span></td>
                    <td><span class="label label-primary">Полное имя</span></td>
                    <td><span class="label label-primary">Login</span></td>
                    <td><span class="label label-primary">Роль</span></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in page.currentPage">
                    <td><input type="checkbox" checklist-model="usersToDelete" checklist-value="user.id"></td>
                    <td><a ng-click="editUser(user.id)"><span class="label label-default"
                            >{{user.contactName}} {{user.contactMiddleName}} {{user.contactSurname}} </span></a></td>
                    <td><span class="label label-default">{{user.username}}</span></td>
                    <td><span class="label label-default">{{user.role}}</span></td>
                </tr>
                </tbody>
            </table>
            <div class="text-center">
                <pagination total-items="totalItems" page="curPage" max-size="10" on-select-page="toPage(page)"></pagination>
            </div>
        </div>
    </div>
</div>